@model IEnumerable<TESTER.Models.GetQuote>

<div>
<h2>Hospital List</h2>
</div>

<form asp-action="Search" method="get">
    <input type="text" name="searchTerm" placeholder="Search...">
    <button type="submit">Search</button>
    <p>

    </p>
    <p>

    </p>

</form>


@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Hospital Name</th>
                <th>Location</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var getquote in Model)
            {
                <tr>
                    <td>@getquote.ID</td>
                    <td>@getquote.Name</td>
                    <td>@getquote.Surname</td>
                    <td>@getquote.Title</td>
                    <td>@getquote.Email</td>
                    <td>@getquote.Plan</td>
                    <td>@getquote.CellNumber</td>
                  

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hospital in that location created yet</p>
}
<div>
    <a asp-controller="FamilyHome" asp-action="Resources" class="btn btn-primary">Back</a>
</div>